.player-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #F5D7DB; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
  }
  
  .player-button:hover {
    background-color: #BD83B8; 
    }