
.h1{
    text-align: center;
    color: #F5D7D8;
    
}

.winner{
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0;
    justify-content: center;
    position: absolute;
    left: 50%;
    width: max-content;
    transform: translateX(-50%);
    border-radius: 10%;
    border-color: #473E66;
    border-width: 10px;
    border-style: solid; 
    background-color: #1b3358;
    margin-top: 10px;
    padding: 10px;
}
.start-button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 0 auto; // Add this line to center the button horizontally
        display: block; // Add this line to make the button a block element
        padding-bottom: 10px;
        padding-top: 10px;
    }

  
  
  .start-button:hover {
    background-color: #45a049; /* Darker green color on hover */
  }

app-square{
border: 1px gray solid;
height: 200px;
border-radius: 30%;
margin: 5px;
background-color: #f1916d;
}
